html, body {
    font-family: 'myriad pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url('../images/bg.png') repeat #222120;
	color: white;
    padding-left: 20px;
	font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	letter-spacing: 1px;
}

a,
a:visited,
a:active {
    text-decoration: none;
	color: white;
}

a:hover {
    text-decoration: none;
	color: #0B69D6;
}

.header {
    margin-top: 25px;
}

.share {
    margin: 20px 0 20px 0px;
}

.bottom p {
    margin-bottom: 0;
}

.bottom {
    padding: 25px 0;
    margin: 100px 0 40px 0;
}

.photo {
    text-align: center;
    padding: 119px 0;
}

.share {
	border-top: 1px solid #222;
    margin: 20px 0 0 0 !important;
    text-align:center;
    padding: 15px 0;
}

hr {
	margin: 0;
	border-bottom: 1px solid #333;
}

.italics {
    font-style: italic;
}

.right {
	text-align: right;
}

/* bootstrap */

.row {
    padding: 10px 0;
}

.container {
	width: 748px;
}

.span12 {
	width: 526px;
}

.span4 {
	width: 162px;
}

.span16 {
	width: 708px;
}

/* custom style for view */

.viewer {
    background-color: rgba(0, 0, 0, 0.95);
}

/* social plugins */

.fb-like {
	text-align: center;
    height: 22px !important;
    line-height: 22px !important;
}

