html, body {
    font-family: Georgia, serif;
	font-size: 100% normal;
	background: #FFF;
	color: #000;
    padding-left: 20px;
	font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
  font-size: 1.4em;
	letter-spacing: 1px;
}

a.view {
	line-height: 0;
	float: left;
}

h6 {
	color: #333;
}

.center {
  display: block;
  margin: 0 auto;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
    background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#fff));
    background: -webkit-linear-gradient(left, #ccc, #fff);
    background: -moz-linear-gradient(left, #ccc, #fff);
    background: -ms-linear-gradient(left, #ccc, #fff);
    background: -o-linear-gradient(left, #ccc, #fff);
}

a,
a:visited,
a:active {
    text-decoration: none;
	color: #000;
}

a:hover {
    text-decoration: none;
	color: #0B69D6;
}

.header {
    margin-top: 20px;
}

.share {
    margin: 0 !important;
    text-align:center;
    padding: 15px 0;
}

.right {
	text-align: right;
}

/* bootstrap */

.row {
    padding: 10px 0;
}

.container {
	width: 748px;
}

.span12 {
	width: 526px;
}

.span4 {
	width: 162px;
}

.span16 {
	width: 708px;
}

.span8 {
	width: 344px;
}

/* custom style for view */

.viewer {
    background-color: rgba(0, 0, 0, 1.0);
}

/* social plugins */

.fb-like {
	text-align: center;
    height: 20px !important;
    line-height: 20px !important;
}
